<div style="padding: 3px;font-size:15px;">
功能简介：<br/>
<p style="color: green;font-weight: bold">· 电量数据查询</p>
*** 电能数据查询：查询油井的电能数据。<br/>
*** 电力数据查询：查询油井的电力数据。<br/>
*** 电能数据统计：对电能数据进行统计[暂未支持]。<br/>
<p style="color: green;font-weight: bold">· 示功图查询</p>
*** 实时示功图查询：查询油井最新的示功图数据。<br/>
*** 历史示功图查询：查询油井历史某一整点的示功图数据。<br/>
*** 多井示功图对比：对比多井同一时间或不同时间的示功图。<br/>
*** 示功图时间对比：对比单井或多井相同时间或不同时间的示功图。<br/>
<p style="color: green;font-weight: bold">· 电功图查询</p>
*** 实时电功图查询：查询油井最新的电功图数据。<br/>
*** 历史电功图查询：查询油井历史某一整点的电功图数据。<br/>
*** 多井电功图对比：对比多井同一时间或不同时间的电功图。<br/>
*** 电功图时间对比：对比单井或多井相同时间或不同时间的电功图。<br/>
<p style="color: green;font-weight: bold">· 示功图电功图对比</p>
*** 示功图电功图对比：对比单井示功图与电功图。<br/>
<p style="color: green;font-weight: bold">· 产液量查询</p>
*** 日产量查询：查询油井单日的产液量。<br/>
*** 时间段产量：查询油井多日的产液量。<br/>

<p style="color: green;font-weight: bold">· 产液量统计【暂未实现】</p>
*** 月产量统计：统计油井某月的产液量。<br/>
*** 年产量统计：统计油井某年的产液量。<br/>
<p style="color: green;font-weight: bold">· 井矿故障诊断【暂未实现】</p>
*** 示功图井矿诊断：根据示功图对单井井矿进行诊断。<br/>
*** 电功图井矿诊断：根据电功图对单井井矿进行诊断。<br/>
<p style="color: green;font-weight: bold">· 系统运行状态</p>
*** DTU状态：查看DTU通讯状态。<br/>
<hr/>
操作说明：<br/><br/>
***图形操作：鼠标拖选可放大图形，双击图形可以返回原始图形。<br>
<hr/>
产液量相关说明：<br/><br/>
***若数据采集不完全可能存在产液量结果为0或产生一定误差。<br>
<hr/>
错误信息提示含义：<br/><br/>
**“该井无数据”：表示该油井未采集数据。<br/>
**“该井无电功图数据”：表示该油井有采集数据，但未安装电功图模块。<br/>
**“该时间点无数据”：表示该时间点通讯超时或其他故障未采集数据。<br/>
**“该时间点无电功图数据”：表示该时间点有示功图数据，但未安装电功图模块。<br/>
**“该井数据均为0”：表示井通讯有问题，应该检查设备安装。<br/>
**“该时间点数据均为0”：表示该时间点通讯有问题，应该检查设备安装。<br/>
<br/>
</div>