<script type="text/javascript" charset="UTF-8">
	$(function() {

	});
</script>
<div style="font-size:36px;color:blue;font-weight: bold;text-indent: 1cm">胜利油田功图监测系统</div>

<div style="position: absolute; right: 0px; bottom: 0px;">
	<a href="javascript:void(0)" id="mb1" class="easyui-menubutton"	menu="#mm1" iconCls="icon-edit">其他</a>
	<a href="javascript:void(0)" id="mb2" class="easyui-menubutton" menu="#mm2" iconCls="icon-help">注销</a>
</div>
<div id="mm1" style="width: 150px;">
	<div iconCls="icon-undo">Undo</div>
	<div iconCls="icon-redo">Redo</div>
	<div class="menu-sep"></div>
	<div>Cut</div>
	<div>Copy</div>
	<div>Paste</div>
	<div class="menu-sep"></div>
	<div>
		<span>Toolbar</span>
		<div style="width: 150px;">
			<div>Address</div>
			<div>Link</div>
			<div>Navigation Toolbar</div>
			<div>Bookmark Toolbar</div>
			<div class="menu-sep"></div>
			<div>New Toolbar...</div>
		</div>
	</div>
	<div iconCls="icon-remove">Delete</div>
	<div>Select All</div>
</div>

<div id="mm2" style="width: 100px;">
	<div onclick="">重新登录</div>
	<div onclick="">退出系统</div>
</div>