<script type="text/javascript" charset="UTF-8">
	function logout() {
		$.ajax({
			async : false,
			url : 'logout.html',
			type : 'post',
			cache : true,
			dataType : 'json',
			success : function(data) {
				window.location.href="index.htm";
			}
		});
	}
	function exitsys() {
		window.close();
	}
</script>
<div
	style="font-size: 36px; color: blue; font-weight: bold; text-indent: 1cm">数字化油田监控管理系统</div>

<div style="position: absolute; right: 300px; bottom: 0px;">
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
		codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"
		width="50" height="50">
		<param name="movie"
			value="http://www.respectsoft.com/onlineclock/analog.swf">
		<param name=quality value=high>
		<param name="wmode" value="transparent">
		<embed src="http://www.respectsoft.com/onlineclock/analog.swf"
			width="50" height="50" quality=high
			pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"
			type="application/x-shockwave-flash" wmode="transparent"></embed>
	</object>
</div>

<div style="position: absolute; right: 0px; bottom: 0px;">
	<a href="javascript:void(0)" id="mb1" class="easyui-menubutton"
		 iconCls="icon-edit">系统设置</a> <a href="javascript:void(0)"
		id="mb2" class="easyui-menubutton" menu="#mm2" iconCls="icon-help">注销</a>
</div>


<div id="mm2" style="width: 100px;">
	<div onclick="logout()">重新登录</div>
	<div onclick="logout()">退出系统</div>
</div>