<script type="text/javascript" charset="UTF-8"
	src="js/addTab.js"></script>

<div class="easyui-accordion" fit="true">
	<div title="示功图查询" 
		style="overflow: auto; padding: 10px;" selected="true">

		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search"	onclick="addTab('实时示功图查询')">实时示功图查询</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('历史示功图查询')">历史示功图查询</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('多井示功图对比')">多井示功图对比</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('示功图时间对比')">示功图时间对比</a>
		</p>
	</div>
	<div title="电功图查询" 
		style="overflow: auto; padding: 10px;">
		
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search"	onclick="addTab('实时示功图查询')">实时电功图查询</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('历史示功图查询')">历史电功图查询</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('多井电功图对比')">多井电功图对比</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('示功图时间对比')">电功图时间对比</a>
		</p>	
		
	</div>
		
	<div title="示功图电功图对比" 
		style="overflow: auto; padding: 10px;">
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('示功图电功图对比')">示功图电功图对比</a>
		</p>
		
	</div>
		
	<div title="产液量查询" 
		style="overflow: auto; padding: 10px;">
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('日产量查询')">日产量查询</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('时间段产量查询')">时间段产量</a>
		</p>
	</div>
	
	<div title="产液量统计" 
		style="overflow: auto; padding: 10px;">
		
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('日产量查询')">月产量统计</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('时间段产量查询')">年产量统计</a>
		</p>	
	</div>

	<div title="故障诊断" 
		style="overflow: auto; padding: 10px;">
		<p>
			<a href="#" class="easyui-linkbutton"  onclick="addTab('时间段产量查询')">井矿诊断</a>
		</p>
		</div>
	<div title="系统运行状态" 
		style="overflow: auto; padding: 10px;">
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search">DTU状态</a>
		</p>
	</div>
</div>