<script type="text/javascript" charset="UTF-8"
	src="js/addTab.js"></script>

<div class="easyui-accordion" fit="true">
	<div title="电量数据查询" 
		style="overflow: auto; padding: 10px;" selected="true" iconCls="icon-i_gzzd">
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-i_gzzd" onclick="addTab('电能数据查询')">电能数据查询</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-i_gzzd" onclick="addTab('电力数据查询')">电力数据查询</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-i_gzzd">电能数据统计</a>
		</p>
	</div>
	<div title="示功图查询" 
		style="overflow: auto; padding: 10px;"  iconCls="icon-i_dgt_query">

		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search"	onclick="addTab('实时示功图查询')">实时示功图查询</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('历史示功图查询')">历史示功图查询</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('多井示功图对比')">多井示功图对比</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('示功图时间对比')">示功图时间对比</a>
		</p>
	</div>
	<div title="电功图查询" 
		style="overflow: auto; padding: 10px;" iconCls="icon-i_sgt_query">
		
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search"	onclick="addTab('实时电功图查询')">实时电功图查询</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('历史电功图查询')">历史电功图查询</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('多井电功图对比')">多井电功图对比</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('电功图时间对比')">电功图时间对比</a>
		</p>	
		
	</div>
		
	<div title="示功图电功图对比" 
		style="overflow: auto; padding: 10px;" iconCls="icon-i_sgt_dgt_comparison">
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('示功图电功图对比')">示功图电功图对比</a>
		</p>
		
	</div>
		
	<div title="产液量查询" 
		style="overflow: auto; padding: 10px;" iconCls="icon-i_oil_product">
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('日产量查询')">日产量查询</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="addTab('时间段产量查询')">时间段产量</a>
		</p>
	</div>
	
	<div title="产液量统计" 
		style="overflow: auto; padding: 10px;" iconCls="icon-i_bar" >
		
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-i_bar" onclick="addTab('月产量统计')">月产量统计</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-i_bar" onclick="addTab('年产量统计')">年产量统计</a>
		</p>	
	</div>

	<div title="井矿故障诊断" 
		style="overflow: auto; padding: 10px;" iconCls="icon-i_gzzd">
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-i_gzzd" onclick="addTab('井矿诊断')">示功图井矿诊断</a>
		</p>
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-i_gzzd">电功图井矿诊断</a>
		</p>
	</div>
	
	 
	<div title="系统运行状态" 
		style="overflow: auto; padding: 10px;" iconCls="icon-i_sys_status">
		<p>
			<a href="#" class="easyui-linkbutton" iconCls="icon-search">DTU状态</a>
		</p>
	</div>
	
</div>